body {
		background: #1c1c1c;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
		font-weight: 300;
    padding-top: 70px;
    overflow-x: hidden;
}


/*---------------------------------------
    Typography              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6,
.navbar-default, .btn {
  font-family: 'Unica One', cursive;
  font-weight: 400;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  letter-spacing: 1px;
}

h1 {
    color: #ffffff;
    font-size: 52px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

h2 {
  color: #f0f0f0;
  font-size: 32px;
}

h3 {
  color: #535bd4;
  font-size: 22px;
  line-height: 32px;
  padding-bottom: 4px;
}

h4 {
  font-weight: bold;
}

p {
    color: #999;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

hr {
  border-bottom-color: #999;
  width: 100px;
}

.section-btn {
  background-color: #000;
  border: 2px solid transparent;
  border-radius: 100px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 14px 36px;
  margin-top: 26px;
  transition: all 0.4s ease-in-out;
}

.section-btn:hover {
  background: transparent;
  border-top-color: #ffffff;
  border-right-color: #222;
  border-bottom-color: #ffffff;
  border-left-color: #222;
  color: #ffffff;
}


/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #535bd4;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #3FF;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ffffff;
}

.section-title {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
}

#about,
#Graph1,
#divider,
#Graph2,
#Graph3 {
  padding-top: 100px;
  padding-bottom: 100px;
}

#divider,
#Graph2 {
  text-align: center;
}


/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #1dc9e3;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }



/*---------------------------------------
    Navigation section              
-----------------------------------------*/

.navbar-default {
    background: #ffffff;
    border: none;
    box-shadow: none;
    margin: 0 !important;
}

.navbar-default .navbar-brand {
  color: #535bd4;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  margin: 0;
}

.navbar-default .navbar-brand span {
  color: #1dc9e3;
}

.navbar-default .navbar-nav li a {
    color: #656565;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-default .navbar-nav > li a:hover {
    color: #1dc9e3;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #656565;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #1dc9e3;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}


/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    /* background: #535bd4 url('../images/home-bg.jpg') no-repeat; */
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    height: 80vh;
    position: relative;
}

#home .overlay {
  background: #4776E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4776E6 , #8E54E9); /* Chrome 10-25, Safari 5.1-6 */ 
  background: linear-gradient(to left, #4776E6 , #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 80vh;
  top: 0;
  left: 0;
  right: 0;
}

#home img {
  width: 100%;
  height: auto;
}

#home .home-thumb {
  padding-top: 32px;
  padding-left: 32px;
}

#home p,
#Graph3 p {
  color: #f0f0f0;
  letter-spacing: 1px;
}

#home .section-btn {
  background: #1dc9e3;
}

#home .section-btn:hover {
  background: transparent !important;
}


/*---------------------------------------
   Divider section              
-----------------------------------------*/

#divider {
  background-color: #1dc9e3;
}

#divider p {
  color: #666;
  font-size: 26px;
  line-height: 42px;
}


/*---------------------------------------
   About section              
-----------------------------------------*/

#about img {
  width: 100%;
}

#about .about-thumb {
  margin-bottom: 32px;
  position: relative;
  text-align: center;
}

#about .about-overlay h3 {
  padding-bottom: 0px;
}

#about .about-overlay {
  background-color: rgba(250,250,250,0.9);
  border-radius: 2px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  overflow: hidden;
  transition: height 450ms;
}

#about .about-thumb:hover .about-overlay {
  height: 100%;
  background-color: #ffffff;
  color: #222;
  padding-top: 30%;
  opacity: 0.9;
}

#about .about-thumb:hover h4 {
  color: #1dc9e3;
}


/*---------------------------------------
    Graph1 section              
-----------------------------------------*/

#Graph1 {
  display: block;
  width: 100%;
  padding-bottom: 1rem;
  background-color: #151965;
  height: 1100px;
}

#Graph1 img {
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  top: 0px;
  transition: all 0.4s ease-in-out;
}

#Graph1 img:hover {
  box-shadow: 0px 16px 22px 0px rgba(0, 0, 0, 0.3);
  top: -6px;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}


/*---------------------------------------
    Graph2 section              
-----------------------------------------*/

#Graph2 {
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  background-color: skyblue;
  position: relative;
  height: 1100px;
}

#Graph2 .overlay {
opacity: 0.9;
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
}

#Graph2 .form-control {
background-color: transparent;
border: none;
border-bottom: 3px solid #eee;
border-radius: 0px;
box-shadow: none;
color: #ffffff;
font-size: 20px;
font-weight: 400;
height: 50px;
transition: all 0.4s ease-in-out;
margin-bottom: 20px;
}

#Graph2 .form-control:focus {
border-color: #ffffff;
}

#Graph2 input[type="submit"] {
background-color: #ffffff;
border-radius: 100px;
border: 3px solid #ffffff;
color: #1dc9e3;
font-size: 17px;
font-weight: 400;
letter-spacing: 1px;
text-transform: uppercase;
height: 55px;
}

#Graph2 input[type="submit"]:hover {
background-color: transparent;
color: #ffffff;
}

#Graph2 .form-control::-moz-placeholder {
color: #ffffff;
opacity: 1;
}

#Graph2 .form-control:-ms-input-placeholder {
color: #ffffff;
}

#Graph2 .form-control::-webkit-input-placeholder {
color: #ffffff;
}

/*---------------------------------------
   Graph3 section         
-----------------------------------------*/

#Graph3 {
  background-color: lightgray;
  color: #000000;
  height: 2000px;
}

#Graph3 .Graph2-plan {
  background-color: #ffffff;
  border-radius: 2px;
  margin-bottom: 32px;
}

#Graph3 .Graph2-plan .Graph2-month {
  padding: 14px 10px 6px 10px;
}

#Graph3 .Graph2-plan .Graph2-month h2 {
  font-size: 52px;
  color: #1dc9e3;
}

#Graph3 .Graph2-plan .section-btn {
  background: #1dc9e3;
  position: relative;
  top: 20px;
}

#Graph3 .Graph2-plan .section-btn:hover {
  background-color: #ffffff;
  color: #222;
}



/*---------------------------------------
    Graph4 section              
-----------------------------------------*/
#Graph4 {
  background-size: cover;
  background-position: center center;
  color: #000000;
  background:  #ffffff;
  position: relative;
  height: 1300px;
}

#Graph4 .overlay {
  background:  #ffffff;
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}


/*---------------------------------------
    Graph5 section              
-----------------------------------------*/

#Graph5 {
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  background: #e8f4f8;
  position: relative;
  height: auto;
}

#Graph5 .overlay {
  background: #e8f4f8;
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

/*---------------------------------------
    Graph5 section              
-----------------------------------------*/

#Graph6 {
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  background: #ffffff;
  position: relative;
}

#Graph6 .overlay {
  background: #ffffff;
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer span {
  padding-right: 10px;
  padding-left: 10px;
}

footer p {
  padding-top: 16px;
}


/*---------------------------------------
   Back top         
-----------------------------------------*/

.go-top {
  background-color: #ffffff;
  box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
  border-radius: 100px;
  transition : all 1s ease;
  bottom: 2em;
  right: 2em;
  color: #333;
  font-size: 22px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
}

.go-top:hover {
    background: #535bd4;
    color: #ffffff;
}

text {
  font: 14px sans-serif;
}
circle {
  stroke: #565352;
  stroke-width: 1;
}
.x.axis path {
  display: none;
}

.bar rect {
  shape-rendering: crispEdges;
}

.bar text {
  fill: #999999;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}		

/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/
@media (max-width: 1200px) {
  .container {
	width: 100%;
  }
}

@media (max-width: 980px) {

  h1 {
    font-size: 38px;
  }
  
  .section-btn {
    padding: 10px 34px 12px;
  }

  #home, #home .overlay {
    height: 60vh;
  }

  #home .home-thumb {
    padding-top: 0px;
  }

  #about {
    text-align: center;
  }

  #about .about-thumb {
    margin-top: 62px;
  }

}

@media (max-width: 768px) {

  h1 {
    font-size: 28px;
  }

  .section-title {
    padding-bottom: 10px;
  }

  #about, #divider,
  #Graph1,
  #Graph2, #Graph3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

}

@media (max-width: 767px) {

   body {
    padding-top: 0px;
    text-align: center;
  }

  .navbar-default {
    text-align: center;
    padding-top: 0px;
  }

  .navbar-default .navbar-brand {
    line-height: 20px;
  }

  .navbar-default .navbar-nav li a {
    line-height: 25px;
  }

  #home, #home .overlay {
    height: 100vh;
  }

  #home img {
    position: relative;
    display: inline-block;
  }

  #home .home-thumb {
    padding-top: 32px;
    padding-left: 0px;
  }

  #Graph2 .Graph2-plan {
    margin-bottom: 62px;
  }

}

@media (max-width: 650px) {

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

}

@media only screen and (max-width: 1000px){
  
  #Graph6{
      height: 1500px !important;
  }

  #Graph1{
      height: 1500px !important;
  }
}
